:root {
  --hiddenDisplay: none;
  --circleSize: 10%;
  --circleGap: 70px;
  --circleColor: rgba(0, 0, 0, 0.05);

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-wrap: balance;

  background-image: radial-gradient(var(--circleColor) var(--circleSize), transparent var(--circleSize));
  background-size: var(--circleGap) var(--circleGap);
}

body {
  --padding-inline: 2rem;
  --content-max-width: 100ch;

  display: grid;
  grid-template-columns: [padding-start] minmax(var(--padding-inline), 1fr) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(var(--padding-inline), 1fr) [padding-end];
}

body>* {
  grid-column: content;
  margin: 0;
  padding: 3rem 0;
}

h1,
h2,
h3,
p {
  width: fit-content;
  background-color: white;
  box-shadow: 0 0 20px 15px white;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

.hidden {
  display: var(--hiddenDisplay);
}